.inlineBlock {
  min-width: 15rem;
  display: inline-block;
  margin: 0.5rem 1rem 0.5rem 0;
  border: 1px solid #dddddd;
  padding: 0.5rem;
  border-radius: 10px;
}

.scName {
  font-weight: 600;
  font-size: larger;
  margin: 0;
}

.scs {
  border-top: 1px solid #dddddd;
  margin: 1.25rem;
}

.leaders {
  margin: 0;
  font-size: smaller; 
}

.subcommittees {
  border-top: 1px solid #dddddd;
  margin: 1.25rem;
}
