.cardName {
  font-weight: 600;
  font-size: larger;
  margin: 0;
  padding: 0 0.5rem 0 0;
  /* background-color: #fff9ee; */
  /* border-radius: 25px; */
  /* border: 1px solid #e4cba3; */
  color: #062968;
}

.inlineBlockBordered {
  min-width: 15rem;
  max-width: 25rem;
  display: inline-block;
  margin: 0.5rem 1rem 0.5rem 0;
  border: 1px solid #e4cba3;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  color: #6c778c;
}
