.section {
  border-bottom: 1px solid #062968;
  margin: 1.25rem 1.25rem 0 1.25rem;
  padding-bottom: 1rem; 
}

.sectionTitle {
  font-size: x-large;
  margin-top: 0;
}

.sectionDescription {
  color: #6c778c;
  margin-top: 1rem;
}
