.iconLink,
.iconLink:visited {
  display: inline-block;
  text-decoration: none;
  width: fit-content;
  padding: 0 0.1rem 0 0.1rem;
  margin: 0 0.25rem 0 0;
  border-radius: 10px;
  /* border: 1px solid #dddddd; */
  color: black;
}

.littleText {
  font-size: small;
}
