html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a:visited {
  color: inherit;
}

h1 {
  margin: 0rem 0.5rem 0 0.5rem;
}

.container {
  margin: 0.5rem;
}

.fw600 {
  font-weight: 600;
}
