.centered {
  text-align: center;
}

.siteSubtitle {
  font-size: larger;
  margin: 0;
}

.description {
  margin: 1.5rem 0.5rem;
}

.animatedLine {
  display: block;
  position: absolute;
  margin-top: 0.25rem;
  left: 50%;
  border-top: 1px solid #062968;
  width: 0%;
  text-align: center;
  animation: line 1s linear forwards;
  opacity: 0%;
}

@keyframes line {
  from {
    opacity: 0%;
    left: 50%;
    width: 0%;
  }
  to {
    left: 20%;
    width: 60%;
    opacity: 100%;
  }
}
